# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*

# Static and media
staticfiles/
mediafiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
.pytest_cache/
